<!DOCTYPE html>
<html>

<head>
  <title>MakeUp</title>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="robots" content="index,follow" />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <link href="/css/app.css" rel="stylesheet" type="text/css">
  <link href="/css/applanding.css" rel="stylesheet" type="text/css">
  <link href="css/animate.css" rel="stylesheet" type="text/css">
  <link href="css/ipad.css" rel="stylesheet" type="text/css">
  <link href="css/iphone.css" rel="stylesheet" type="text/css">
  <link href="css/smartphone.css" rel="stylesheet" type="text/css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link href="https://fonts.googleapis.com/css?family=Bad+Script|Fira+Mono|Julius+Sans+On|Philosopher|Syncopate|Tangerine" rel="stylesheet">
</head>

<body>

    #parse( $template )

</body>

</html>
